html {
    background-color: #66B032;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    text-align: center;
    color: #030D11;
}

section {
    text-align: center;
}

table {
    outline: 10px solid #347B98;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    background-color: #F0F7D4;
    padding: 10px;
}

td {
    outline-style: solid;
    padding: 10px;
}